:host {
  display: block;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.payslips {
  padding-bottom: 16px;
}

.divider {
  padding-bottom: 16px;
}
