<mat-card>
  <mat-card-title>Payslip</mat-card-title>

  <mat-card-content>
    <div [formGroup]="customizationForm"  class="customization">
      <mat-form-field class="form-control" appearance="fill">
        <mat-label>PKUP</mat-label>
        <input matInput type="number" formControlName="pkup">
      </mat-form-field>

      <mat-checkbox class="form-control" formControlName="ppkEnabled">PPK</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="liveOutside">Live Outside</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="pit2Enabled">PIT-2</mat-checkbox>

      <button mat-button color="primary" (click)="onAddTaxAdditive()" class="add-tax-additive-button">Add Tax Additive</button>
    </div>

    <table class="payslip">
      <tr>
        <td colspan="3">Pracownik: <strong>John Wick</strong></td>
        <td>Podpis:</td>
      </tr>
      <tr>
        <td>

          <table class="nested-table left-right-alignment">
            <tr>
              <td>Za okres:</td>
              <td>{{ months[customizationForm.controls['month'].value] }}</td>
            </tr>
            <tr>
              <td>PESEL:</td>
              <td>00000000000</td>
            </tr>
            <tr>
              <td>Wymiar etatu:</td>
              <td>1/1</td>
            </tr>
            <tr>
              <td>Stawka:</td>
              <td>00000 PLN/mies</td>
            </tr>
          </table>

        </td>
        <td colspan="2">

          <table class="nested-table left-right-alignment">
            <tr>
              <td>Symbol:</td>
              <td>X/XXXX/XX/XXXX/X</td>
            </tr>
            <tr>
              <td>Tytuł ubezpieczenia:</td>
              <td>000000</td>
            </tr>
            <tr>
              <td>Oddział NFZ:</td>
              <td>00X</td>
            </tr>
          </table>

        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>Narastająco w roku:</td>
              <td>{{ currentDate | date : 'YYYY' }}</td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.cumulativeTaxBaseElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.taxBase | number: '1.2-2'"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.retirementDisabilityCumulativeBaseElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.cumulativeTaxBase | number: '1.2-2'"></app-tax-element></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>NAZWA ELEMENTU</td>
        <td>OPODATKOWANE</td>
        <td>NIEOPODATKOWANE</td>
        <td>
          <table class="nested-table">
            <tr>
              <td><app-tax-element [taxElement]="taxElements.taxPercentageElement"></app-tax-element></td>
              <td>17%</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong><app-tax-element [taxAdditive]="taxAdditivesMap.get(taxAdditive.name)!"></app-tax-element></strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value">
            <div>
              <strong><app-tax-element [taxElement]="taxElements.pkupTaxElement"></app-tax-element></strong>
            </div>
            <div>
              <strong><app-tax-element [taxElement]="taxElements.pkupReduceTaxElement"></app-tax-element></strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="!taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value as pkupValue">
            <div>
              <strong><app-tax-element [value]="pkupValue | number: '1.2-2'"></app-tax-element></strong>
            </div>
            <div>
              <strong><app-tax-element [value]="-pkupValue | number: '1.2-2'"></app-tax-element></strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td><app-tax-element [taxElement]="taxElements.totalGrossTaxElement"></app-tax-element></td>
        <td><app-tax-element [value]="sumTaxAdditives(selectedTaxAdditives, true) | number: '1.2-2'" [taxElement]="taxElements.totalGrossValueTaxElement"></app-tax-element></td>
        <td>{{ sumTaxAdditives(selectedTaxAdditives, false) | number: '1.2-2' }}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">

          <table class="nested-table">
            <tr>
              <td></td>
              <td><app-tax-element [taxElement]="taxElements.retirementTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.disabilityTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.sicknessTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.accidentTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.fpTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.fgspTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.fepTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.socialContributionTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.ppkBasicContributionTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.ppkAdditionalContributionTaxElement"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.baseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.retirement.base | number: '1.2-2'" [taxElement]="taxElements.retirementBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.disability.base | number: '1.2-2'" [taxElement]="taxElements.disabilityBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.sickness.base | number: '1.2-2'" [taxElement]="taxElements.sicknessBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.accident.base | number: '1.2-2'" [taxElement]="taxElements.accidentBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fp.base | number: '1.2-2'" [taxElement]="taxElements.fpBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fgsp.base | number: '1.2-2'" [taxElement]="taxElements.fgspBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fep.base | number: '1.2-2'" [taxElement]="taxElements.fepBaseTaxElement"></app-tax-element></td>
              <td></td>
              <td><app-tax-element [value]="taxation.ppkBasicContribution.base | number: '1.2-2'" [taxElement]="taxElements.ppkBasicContributionBaseTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.ppkAdditionalContribution.base | number: '1.2-2'" [taxElement]="taxElements.ppkAdditionalContributionBaseTaxElement"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.employeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.retirement.employee | number: '1.2-2'" [taxElement]="taxElements.retirementEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.disability.employee | number: '1.2-2'" [taxElement]="taxElements.disabilityEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.sickness.employee | number: '1.2-2'" [taxElement]="taxElements.sicknessEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.accident.employee | number: '1.2-2'" [taxElement]="taxElements.accidentEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fp.employee | number: '1.2-2'" [taxElement]="taxElements.fpEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fgsp.employee | number: '1.2-2'" [taxElement]="taxElements.fgspEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fep.employee | number: '1.2-2'" [taxElement]="taxElements.fepEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.socialContribution.employee | number: '1.2-2'" [taxElement]="taxElements.socialContributionEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.ppkBasicContribution.employee | number: '1.2-2'" [taxElement]="taxElements.ppkBasicContributionEmployeeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.ppkAdditionalContribution.employee | number: '1.2-2'" [taxElement]="taxElements.ppkAdditionalContributionEmployeeTaxElement"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.employerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.retirement.employer | number: '1.2-2'" [taxElement]="taxElements.retirementEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.disability.employer | number: '1.2-2'" [taxElement]="taxElements.disabilityEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.sickness.employer | number: '1.2-2'" [taxElement]="taxElements.sicknessEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.accident.employer | number: '1.2-2'" [taxElement]="taxElements.accidentEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fp.employer | number: '1.2-2'" [taxElement]="taxElements.fpEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fgsp.employer | number: '1.2-2'" [taxElement]="taxElements.fgspEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.fep.employer | number: '1.2-2'" [taxElement]="taxElements.fepEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.socialContribution.employer | number: '1.2-2'" [taxElement]="taxElements.socialContributionEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.ppkBasicContribution.employer | number: '1.2-2'" [taxElement]="taxElements.ppkBasicContributionEmployerTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.ppkAdditionalContribution.employer | number: '1.2-2'" [taxElement]="taxElements.ppkAdditionalContributionEmployerTaxElement"></app-tax-element></td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <table class="nested-table">
            <tr>
              <td><app-tax-element [taxElement]="taxElements.healthInsuranceContributionBaseElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.healthInsuranceContribution.base | number: '1.2-2'" [taxElement]="taxElements.healthInsuranceContributionBaseValueElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.incomeTaxElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.incomeTax | number: '1.2-2'"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.healthInsuranceContributionElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.healthInsuranceContribution.employee | number: '1.2-2'" [taxElement]="taxElements.healthInsuranceContributionValueElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="taxElements.deductibleExpensesElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.deductibleExpenses | number: '1.2-2'"></app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="taxElements.zaniechPodElement"></app-tax-element></td>
              <td></td>
              <td><app-tax-element [taxElement]="taxElements.middleClassTaxReliefElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.middleClassTaxRelief | number: '1.2-2'"></app-tax-element></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><app-tax-element [taxElement]="taxElements.taxReliefElement"></app-tax-element></td>
              <td><app-tax-element [value]="taxation.taxRelief | number: '1.2-2'"></app-tax-element></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>RAZEM:</td>
              <td><app-tax-element [value]="taxation.totalNet | number: '1.2-2'"></app-tax-element></td>
            </tr>
            <tr>
              <td>w tym:</td>
              <td></td>
            </tr>
            <tr>
              <td>GOT</td>
              <td>{{ 0 | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>ROR</td>
              <td><app-tax-element [value]="taxation.totalNet | number: '1.2-2'"></app-tax-element></td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          Data wystawienia: {{ currentDate | date : 'dd.MM.YYYY' }}
        </td>
        <td colspan="3">
          Osoba wystawiająca: XXX
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>



