<mat-card>
  <mat-card-title>Payslip</mat-card-title>

  <mat-card-content>
    <div [formGroup]="customizationForm"  class="customization">
      <mat-form-field class="form-control" appearance="fill">
        <mat-label>PKUP</mat-label>
        <input matInput type="number" formControlName="pkup">
      </mat-form-field>

      <mat-checkbox class="form-control" formControlName="ppkEnabled">PPK</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="liveOutside">Live Outside</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="pit2Enabled">PIT-2</mat-checkbox>

      <button mat-button color="primary" (click)="onAddTaxAdditive()" class="add-tax-additive-button">Add Tax Additive</button>
    </div>

    <table class="payslip">
      <tr>
        <td colspan="3">Pracownik: <strong>John Wick</strong></td>
        <td>Podpis:</td>
      </tr>
      <tr>
        <td>

          <table class="nested-table left-right-alignment">
            <tr>
              <td>Za okres:</td>
              <td>{{ months[customizationForm.controls['month'].value] }}</td>
            </tr>
            <tr>
              <td>PESEL:</td>
              <td>00000000000</td>
            </tr>
            <tr>
              <td>Wymiar etatu:</td>
              <td>1/1</td>
            </tr>
            <tr>
              <td>Stawka:</td>
              <td>00000 PLN/mies</td>
            </tr>
          </table>

        </td>
        <td colspan="2">

          <table class="nested-table left-right-alignment">
            <tr>
              <td>Symbol:</td>
              <td>X/XXXX/XX/XXXX/X</td>
            </tr>
            <tr>
              <td>Tytuł ubezpieczenia:</td>
              <td>000000</td>
            </tr>
            <tr>
              <td>Oddział NFZ:</td>
              <td>00X</td>
            </tr>
          </table>

        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>Narastająco w roku:</td>
              <td>{{ currentDate | date : 'YYYY' }}</td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="cumulativeTaxBaseElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.taxBase | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="retirementDisabilityCumulativeBaseElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.cumulativeTaxBase | number: '1.2-2' }}</app-tax-element></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>NAZWA ELEMENTU</td>
        <td>OPODATKOWANE</td>
        <td>NIEOPODATKOWANE</td>
        <td>
          <table class="nested-table">
            <tr>
              <td><app-tax-element [taxElement]="taxPercentageElement"></app-tax-element></td>
              <td>17%</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong><app-tax-element [taxAdditive]="taxAdditivesMap.get(taxAdditive.name)!"></app-tax-element></strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value">
            <div>
              <strong><app-tax-element [taxElement]="pkupTaxElement"></app-tax-element></strong>
            </div>
            <div>
              <strong><app-tax-element [taxElement]="pkupReduceTaxElement"></app-tax-element></strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="!taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value as pkupValue">
            <div>
              <strong><app-tax-element>{{ pkupValue | number: '1.2-2' }}</app-tax-element></strong>
            </div>
            <div>
              <strong><app-tax-element>-{{ pkupValue | number: '1.2-2' }}</app-tax-element></strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>SUMA:</td>
        <td>{{ sumTaxAdditives(selectedTaxAdditives, true) | number: '1.2-2' }}</td>
        <td>{{ sumTaxAdditives(selectedTaxAdditives, false) | number: '1.2-2' }}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">

          <table class="nested-table">
            <tr>
              <td></td>
              <td><app-tax-element [taxElement]="retirementTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="disabilityTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="sicknessTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="accidentTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="fpTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="fgspTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="fepTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="socialContributionTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="ppkBasicContributionTaxElement"></app-tax-element></td>
              <td><app-tax-element [taxElement]="ppkAdditionalContributionTaxElement"></app-tax-element></td>
            </tr>
            <tr>
              <td>PODSTAWA</td>
              <td><app-tax-element>{{ this.taxation.retirement.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.disability.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.sickness.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.accident.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fp.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fgsp.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fep.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.socialContribution.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkBasicContribution.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkAdditionalContribution.base | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td>UBEZPIECZ</td>
              <td><app-tax-element>{{ this.taxation.retirement.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.disability.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.sickness.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.accident.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fp.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fgsp.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fep.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.socialContribution.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkBasicContribution.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkAdditionalContribution.employee | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td>PŁATNIK</td>
              <td><app-tax-element>{{ this.taxation.retirement.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.disability.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.sickness.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.accident.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fp.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fgsp.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.fep.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.socialContribution.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkBasicContribution.employer | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.ppkAdditionalContribution.employer | number: '1.2-2' }}</app-tax-element></td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <table class="nested-table">
            <tr>
              <td><app-tax-element [taxElement]="healthInsuranceContributionBaseElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.healthInsuranceContribution.base | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element [taxElement]="incomeTaxElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.incomeTax | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="healthInsuranceContributionElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.healthInsuranceContribution.employee | number: '1.2-2' }}</app-tax-element></td>
              <td><app-tax-element [taxElement]="deductibleExpensesElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.deductibleExpenses | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td><app-tax-element [taxElement]="zaniechPodElement"></app-tax-element></td>
              <td></td>
              <td><app-tax-element [taxElement]="middleClassTaxReliefElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.middleClassTaxRelief | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><app-tax-element [taxElement]="taxReliefElement"></app-tax-element></td>
              <td><app-tax-element>{{ this.taxation.taxRelief | number: '1.2-2' }}</app-tax-element></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>RAZEM:</td>
              <td><app-tax-element>{{ this.taxation.totalNet | number: '1.2-2' }}</app-tax-element></td>
            </tr>
            <tr>
              <td>w tym:</td>
              <td></td>
            </tr>
            <tr>
              <td>GOT</td>
              <td>{{ 0 | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>ROR</td>
              <td><app-tax-element>{{ this.taxation.totalNet | number: '1.2-2' }}</app-tax-element></td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          Data wystawienia: {{ currentDate | date : 'dd.MM.YYYY' }}
        </td>
        <td colspan="3">
          Osoba wystawiająca: XXX
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>



