<h1 mat-dialog-title>Add Tax Additive</h1>

<div mat-dialog-content>
  <mat-form-field class="form-control">
    <mat-label>Tax Additive</mat-label>
    <mat-select [required]="true" [(ngModel)]="taxAdditive" #taxAdditiveControl>
      <mat-option *ngFor="let taxAdditive of taxAdditives" [value]="taxAdditive">
        {{ taxAdditive.name }} - {{ taxAdditive.taxable ? 'Tax' : 'Non-Tax' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="taxAdditive">
    {{ taxAdditive.description }}
  </p>

  <mat-form-field class="form-control">
    <mat-label>Value</mat-label>
    <input matInput [required]="true" type="number" [(ngModel)]="taxAdditiveValue" #taxAdditiveValueControl>
  </mat-form-field>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="{ taxAdditive: taxAdditive, value: taxAdditiveValue }"
    [disabled]="!taxAdditiveControl.value || !taxAdditiveValueControl.value"
  >Add</button>
</div>
