<mat-card>
  <mat-card-title>Payslip</mat-card-title>

  <mat-card-content>
    <div [formGroup]="customizationForm"  class="customization">
      <mat-form-field class="form-control" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput value="John Wick" formControlName="fullName">
      </mat-form-field>

      <mat-form-field class="form-control" appearance="fill">
        <mat-label>PKUP</mat-label>
        <input matInput type="number" formControlName="pkup">
      </mat-form-field>

      <mat-checkbox class="form-control" formControlName="ppkEnabled">PPK</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="liveOutside">Live Outside</mat-checkbox>

      <mat-checkbox class="form-control" formControlName="pit2Enabled">PIT-2</mat-checkbox>

      <button mat-button color="primary" (click)="onAddTaxAdditive()" class="add-tax-additive-button">Add Tax Additive</button>
    </div>

    <table class="payslip">
      <tr>
        <td colspan="3">Pracownik: <strong>{{ customizationForm.controls['fullName'].value | uppercase }}</strong></td>
        <td>Podpis:</td>
      </tr>
      <tr>
        <td>

          <table class="nested-table block-1">
            <tr>
              <td>Za okres:</td>
              <td>{{ months[customizationForm.controls['month'].value] }}</td>
            </tr>
            <tr>
              <td>PESEL:</td>
              <td>00000000000</td>
            </tr>
            <tr>
              <td>Wymiar etatu:</td>
              <td>1/1</td>
            </tr>
            <tr>
              <td>Stawka:</td>
              <td>00000 PLN/mies</td>
            </tr>
          </table>

        </td>
        <td colspan="2">

          <table class="nested-table block-2">
            <tr>
              <td>Symbol:</td>
              <td>X/XXXX/XX/XXXX/X</td>
            </tr>
            <tr>
              <td>Tytuł ubezpieczenia:</td>
              <td>000000</td>
            </tr>
            <tr>
              <td>Oddział NFZ:</td>
              <td>00X</td>
            </tr>
          </table>

        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>Narastająco w roku:</td>
              <td>{{ currentDate | date : 'YYYY' }}</td>
            </tr>
            <tr>
              <td>{{ cumulativeTaxBaseElement.name }}</td>
              <td>{{ this.taxation.taxBase | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ retirementDisabilityCumulativeBaseElement.name }}</td>
              <td>{{ this.taxation.cumulativeTaxBase | number: '1.2-2' }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>NAZWA ELEMENTU</td>
        <td>OPODATKOWANE</td>
        <td>NIEOPODATKOWANE</td>
        <td>
          <table class="nested-table">
            <tr>
              <td>{{ taxPercentageElement.name }}</td>
              <td>17%</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong>{{ taxAdditivesMap.get(taxAdditive.name)!.name }}</strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value">
            <div>
              <strong>{{ pkupTaxElement.name }}</strong>
            </div>
            <div>
              <strong>{{ pkupReduceTaxElement.name }}</strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="!taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
          <ng-container *ngIf="customizationForm.controls['pkup'].value as pkupValue">
            <div>
              <strong>{{ pkupValue | number: '1.2-2' }}</strong>
            </div>
            <div>
              <strong>-{{ pkupValue | number: '1.2-2' }}</strong>
            </div>
          </ng-container>
        </td>
        <td>
          <div *ngFor="let taxAdditive of customizationForm.controls['taxAdditives'].value">
            <strong [class.hidden]="taxAdditive.taxable">{{ taxAdditive.value | number: '1.2-2' }}</strong>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>SUMA:</td>
        <td>0,00</td>
        <td>0,00</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">

          <table class="nested-table">
            <tr>
              <td></td>
              <td>{{ this.retirementTaxElement.name }}</td>
              <td>{{ this.disabilityTaxElement.name }}</td>
              <td>{{ this.sicknessTaxElement.name }}</td>
              <td>{{ this.accidentTaxElement.name }}</td>
              <td>{{ this.fpTaxElement.name }}</td>
              <td>{{ this.fgspTaxElement.name }}</td>
              <td>{{ this.fepTaxElement.name }}</td>
              <td>{{ this.socialContributionTaxElement.name }}</td>
              <td>{{ this.ppkBasicContributionTaxElement.name }}</td>
              <td>{{ this.ppkAdditionalContributionTaxElement.name }}</td>
            </tr>
            <tr>
              <td>PODSTAWA:</td>
              <td>{{ this.taxation.retirement.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.disability.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.sickness.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.accident.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fp.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fgsp.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fep.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.socialContribution.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkBasicContribution.base | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkAdditionalContribution.base | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>UBEZPIECZ:</td>
              <td>{{ this.taxation.retirement.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.disability.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.sickness.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.accident.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fp.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fgsp.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fep.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.socialContribution.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkBasicContribution.employee | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkAdditionalContribution.employee | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>PŁATNIK:</td>
              <td>{{ this.taxation.retirement.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.disability.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.sickness.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.accident.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fp.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fgsp.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.fep.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.socialContribution.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkBasicContribution.employer | number: '1.2-2' }}</td>
              <td>{{ this.taxation.ppkAdditionalContribution.employer | number: '1.2-2' }}</td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <table class="nested-table">
            <tr>
              <td>{{ this.healthInsuranceContributionBaseElement.name }}</td>
              <td>{{ this.taxation.healthInsuranceContribution.base | number: '1.2-2' }}</td>
              <td>{{ this.incomeTaxElement.name }}</td>
              <td>{{ this.taxation.incomeTax | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ this.healthInsuranceContributionElement.name }}</td>
              <td>{{ this.taxation.healthInsuranceContribution.employee | number: '1.2-2' }}</td>
              <td>{{ this.deductibleExpensesElement.name }}</td>
              <td>{{ this.taxation.deductibleExpenses | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>{{ this.zaniechPodElement.name }}</td>
              <td></td>
              <td>{{ this.middleClassTaxReliefElement.name }}</td>
              <td>{{ this.taxation.middleClassTaxRelief | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>{{ this.taxReliefElement.name }}</td>
              <td>{{ this.taxation.taxRelief | number: '1.2-2' }}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="nested-table">
            <tr>
              <td>RAZEM:</td>
              <td>{{ this.taxation.totalNet | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>w tym:</td>
              <td></td>
            </tr>
            <tr>
              <td>GOT</td>
              <td>{{ 0 | number: '1.2-2' }}</td>
            </tr>
            <tr>
              <td>ROR</td>
              <td>{{ this.taxation.totalNet | number: '1.2-2' }}</td>
            </tr>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          Data wystawienia: {{ currentDate | date : 'dd.MM.YYYY' }}
        </td>
        <td colspan="3">
          Osoba wystawiająca: XXX
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>



