
<ng-container *ngIf="valueParam; else defaultView">
  <span *ngIf="!formula && !hint">{{ valueParam }}</span>
  <span *ngIf="!formula && hint" [satPopoverAnchor]="popoverHint" satPopoverHover>{{ valueParam }}</span>
  <span *ngIf="formula" [satPopoverAnchor]="popoverFormula" satPopoverHover>{{ valueParam }}</span>
</ng-container>

<ng-template #defaultView>
  <span *ngIf="!formula && !hint">{{ name }}</span>
  <span *ngIf="!formula && hint" [satPopoverAnchor]="popoverHint" satPopoverHover>{{ name }}</span>
  <span *ngIf="formula" [satPopoverAnchor]="popoverFormula" satPopoverHover>{{ name }}</span>
</ng-template>

<sat-popover
  #popoverFormula
  horizontalAlign="center"
  verticalAlign="below"
  [autoFocus]="false"
  panelClass="popover"
  (afterOpen)="onAfterOpenFormulaPopover()"
  (afterClose)="onAfterCloseFormulaPopover()"
>
  {{ formattedFormula }}
</sat-popover>

<sat-popover
  #popoverHint
  horizontalAlign="center"
  verticalAlign="below"
  [autoFocus]="false"
  panelClass="popover"
  (afterOpen)="onAfterOpenFormulaPopover()"
  (afterClose)="onAfterCloseFormulaPopover()"
>
  {{ hint }}
</sat-popover>
