<mat-tab-group [formGroup]="form">
  <mat-tab label="Tax Limits">
    <section class="tab-content">
      <mat-form-field class="form-control tax" appearance="fill">
        <mat-label>Tax 1</mat-label>
        <input matInput type="number" formControlName="tax1">
      </mat-form-field>

      <mat-form-field class="form-control tax-threshold" appearance="fill">
        <mat-label>Tax Threshold</mat-label>
        <input matInput type="number" formControlName="taxThreshold12">
      </mat-form-field>

      <mat-form-field class="form-control tax" appearance="fill">
        <mat-label>Tax 2</mat-label>
        <input matInput type="number" formControlName="tax2">
      </mat-form-field>

      <mat-form-field class="form-control tax-threshold" appearance="fill">
        <mat-label>Tax Threshold</mat-label>
        <input matInput type="number" formControlName="taxThreshold23">
      </mat-form-field>

      <mat-form-field class="form-control tax" appearance="fill">
        <mat-label>Tax 3</mat-label>
        <input matInput type="number" formControlName="tax3">
      </mat-form-field>
    </section>
  </mat-tab>

  <mat-tab label="Retirement & Disability Limit" *ngIf="retirementDisabilityBaseThresholdEnabled">
    <section class="tab-content">
      <mat-form-field class="form-control" appearance="fill">
        <mat-label>Retirement & Disability Limit</mat-label>
        <input matInput type="number" formControlName="retirementDisabilityBaseThreshold">
      </mat-form-field>
    </section>
  </mat-tab>

  <mat-tab label="PKUP" *ngIf="pkupEnabled">
    <section class="tab-content">
      <mat-form-field class="form-control" appearance="fill">
        <mat-label>PKUP</mat-label>
        <input matInput type="number" formControlName="pkup">
      </mat-form-field>
    </section>
  </mat-tab>

  <mat-tab label="PPK">
    <section class="tab-content">
      <div class="form-control">
        <mat-checkbox formControlName="ppkEnabled">PPK</mat-checkbox>
      </div>
    </section>
  </mat-tab>

  <mat-tab label="Additional Options">
    <section class="tab-content">
      <div class="form-control">
        <mat-checkbox formControlName="liveOutside">Live Outside</mat-checkbox>
      </div>

      <div class="form-control">
        <mat-checkbox formControlName="pit2Enabled">PIT-2</mat-checkbox>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>
