:host {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.customization {
  .tab-content {
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    min-height: 100px;
    box-sizing: border-box;
  }

  .form-control {
    margin-right: 16px;
  }
}

.divider {
  margin-bottom: 16px;
}

.payslip {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;

  > tr > td {
    vertical-align: top;
    padding: 8px;
    border: 1px solid black;
  }
}

.nested-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;

  > tr {
    > td {
      padding: 0 8px 8px 0;

      &:last-child {
        padding-right: 0;
      }
    }

    &:last-child {
      > td {
        padding-bottom: 0;
      }
    }
  }
}

.left-right-alignment {
  > tr > td {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.tax-additive-delete {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-right: 8px;

  .tax-additive-delete-icon {
    line-height: 16px;
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.tax-additive-edit {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-right: 8px;

  .tax-additive-edit-icon {
    line-height: 16px;
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}
